<%- include('../components/admin_template') %>
<main id="content" class=min-h-screen text-gray-300">
  <div class="flex flex-col items-center py-8 px-4">
    <div class="flex items-center justify-center mb-6">
      <h2 class="text-3xl font-semibold text-white"><%= req.translations.overviewText %></h2>
  </div>
    <section class="w-full max-w-7xl mb-10">
      <div class="bg-[#1c1c1c] p-12 rounded-lg border-4 border-[#1f1c1c] shadow-lg">
        <div class="flex items-center justify-start space-x-8">
          <!-- Image Section -->
          <img src="../assets/panellogo.png" alt="App Image" class="w-full h-full object-cover rounded-lg">
          
          <!-- Text and Description Section -->
           
          <div>
            <script>
              fetch('https://hydrenllc.us.kg/panel.json')
                .then(response => response.json())
                .then(data => {
                  const currentVersion = '<%= version %>';
                  const latestVersion = data.hydra.panel_latest;
                  const versionSpan = document.getElementById('currentVersion');
                  const releaseSpan = document.getElementById('releaseInfo');
                  const versionStatusSpan = document.getElementById('versionStatus');
          
                  versionSpan.textContent = currentVersion;
          
                  if (latestVersion.includes('beta')) {
                    versionStatusSpan.textContent = 'You Running Beta Version. This Might Have bugs'
                  };
                  if (currentVersion === latestVersion) {
                    versionStatusSpan.textContent = '<%= req.translations.runningLatestVersion %>';
                  } else {
                    const link = document.createElement('a');
                    link.href = 'https://github.com/HydraLabs-beta/panel/releases/tag/' + latestVersion;
                    link.classList.add('text-amber-500', 'transition', 'hover:text-amber-600', 'font-medium');
                    link.textContent = 'is available Download it from <%= req.translations.here %>';
          
                    const linkText = document.createTextNode(`<%= req.translations.newReleaseSkyport1 %> ${latestVersion} <%= req.translations.newReleaseSkyport2 %> `);
                    versionStatusSpan.appendChild(linkText);
                    versionStatusSpan.appendChild(link);
                    versionStatusSpan.appendChild(document.createTextNode(' <%= req.translations.newReleaseSkyport3 %>'));
                    versionStatusSpan.classList.add('text-amber-500', 'pt-2');
                  }
                })
                .catch(error => {
                  console.error('Error fetching latest version:', error);
                });
            </script>
            <p class="text-sm mt-1 font-normal text-neutral-300 mb-2">
              <%= req.translations.sysInfoText %> <span id="currentVersion"></span>. <span id="versionStatus"></span>
            </p>
                    </div>
        </div>
      </div>
    </section>
    
    <section class="w-full max-w-7xl">
      <div class="flex items-center justify-center mb-6">
        <h2 class="text-3xl font-semibold text-white">Platform Statistics</h2>
    </div>
    

      <!-- Main Stats Grid -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <!-- Total Users -->
        <div class="bg-[#1c1c1b] p-6 rounded-xl border border-white/20 hover:scale-105 transform transition-all duration-300 shadow-lg">
          <div>
            <p class="text-sm font-medium text-white/70">Total Users</p>
            <p class="text-3xl font-semibold text-white mt-2"><%= usersTotal %></p>
          </div>
        </div>

        <!-- Active Servers -->
        <div class="bg-[#1c1c1b] p-6 rounded-xl border border-white/20 hover:scale-105 transform transition-all duration-300 shadow-lg">
          <div>
            <p class="text-sm font-medium text-white/70">Active Servers</p>
            <p class="text-3xl font-semibold text-white mt-2"><%= instancesTotal %></p>
          </div>
        </div>

        <!-- Total Nodes -->
        <div class="bg-[#1c1c1b] p-6 rounded-xl border border-white/20 hover:scale-105 transform transition-all duration-300 shadow-lg">
          <div>
            <p class="text-sm font-medium text-white/70">Total Nodes</p>
            <p class="text-3xl font-semibold text-white mt-2"><%= nodesTotal %></p>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>

<%- include('../components/footer') %>